@charset "utf-8";

.tag{
	background-color: #777;
	color: white;
	border-radius: 3px;
	padding: 3px 7px;
	font-size: 12px;
}

section#meta {
	background-color: white;
	padding: 20px 0;
}

section#meta > div{ padding: 0 40px; }

section#meta .first{
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
}

section#meta .first h2{
	margin: 0 0 10px 0;
	color: #06C;
	font-weight: bold;
	font-size: 30px;
	vertical-align: middle;
}

section#meta .first h2 .heart{
	color: #666;
	font-size: 20px;
	vertical-align: middle;
	cursor: pointer;
	transition: color 0.5s;
}

section#meta .first h2 .heart:hover{
	color: #e91e63;
}


section#meta .first .sub{
	vertical-align: middle;
}

section#meta .first .sub .profile{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	vertical-align: bottom;
}

section#meta .first .sub .author-name{ color: #555; font-weight: bold; }
section#meta .first .sub .datetime{ color: #999; font-size: 13px }


section#meta .second{
	padding-top: 10px;
}

section#meta .second #description{
	margin: 5px 0;
	font-size: 16px;
	line-height: 1.3em;
}


section h3{
	margin: 30px 0 3px 40px;
	color: #666;
	font-size: 18px;
}

section > pre, section ul{
	background-color: white;
	padding: 20px 40px;
	margin: 0;

	color: #333;
}

section#properties ul{ list-style: none; }
section#properties ul li{ margin: 0; padding: 3px 0; }

section#properties ul li .first{
	width: 100px;
	text-align: right;
	margin-right: 15px;
	padding: 2px;
}

section#properties ul li .second{
	background-color: #e3e3e3;
	padding: 2px 5px;
}

section > pre {
	line-height: 1.3em;
}



