{% extends "/layout/default.html" %}

{% import 'macro/share.html' as share_macro %}


{% block title %}regular.express{% endblock %}

{% block head %}
	{{ super() }}
	<link rel="stylesheet" type="text/css" href="/css/home.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
{% endblock %}

{% block meta %}
	<meta name="Description" content="Share regular expression test result with by our app that runs in fully isolated environment"> 
	<meta property="og:description" content="Share regular expression test result with by our app that runs in fully isolated environment">
{% endblock %}


{% block content %}

<section id="search">
	<div id="search-bar">
		<form name="fsearch" action="/search" method="GET">
			<i class="fa fa-search" aria-hidden="true" onclick="if (fsearch.q.value) fsearch.submit()"></i>
			<input type="text" name="q" placeholder="Search regular.express">
		</form>
	</div>

	<div class="tags">
		{% for tag in tags : %}
		<a href="/tag/{{ tag }}">
			<span class="tag tag-alpha"># {{ tag }}</span>
		</a>
		{% endfor %}
	</div>
</section>


<section id="news">
	<h2 class="ctr">New Sharings</h2>
	
	<i class="fa fa-chevron-left prev-btn"></i>
	<i class="fa fa-chevron-right next-btn"></i>
	{% set news = news %}
	<div class="groups">
		<div class="container clearfix" style="width: {{ news|length * 352 }}px">
			{% for g in news %}
			<section>
				<div class="header">
					<h3>
						<a href="/env/{{ g.env.name }}" class="color-{{ g.env.name }}">
							<div>{{ ext.env_icon(g.env.info.icon)|safe }}</div>
							<div class="env">{{ g.env.name }}</div>
						</a>
					</h3>
				</div>

				<div class="up-wrap">
					<i class="fa fa-chevron-up up-btn" aria-hidden="true"></i>
				</div>

				<div class="ul-wrap">
					<ul class="items">
					{% for doc in g.data %}
						<li>{{ share_macro.tile(doc) }}</li>
					{% endfor %}
					</ul>
				</div>
				
				<div class="down-wrap">
					<i class="fa fa-chevron-down down-btn" aria-hidden="true"></i>
				</div>

			</section>
			{% endfor %}
		</div>
		<script type="text/javascript">
			(function() {

				function resize() {
					var windowWidth = $(window).innerWidth();
					if (windowWidth <= 500)
						$('#news .groups section').css('width', $('#news .groups').width());
					
					var secDom = $('#news .groups section');
					$('#news .groups .container').css('width', secDom.length * secDom.outerWidth(true) - 10);
				}
				resize();
				$(window).resize(resize);

				$('#news').find('.prev-btn, .next-btn').click(function (event) {
					var sectionWidth = $('#news .groups section').outerWidth(true);

					var dom = $(event.target).parent().find('.groups');
					var w = dom.width();
					var dest = dom.scrollLeft();

					if (sectionWidth > w)
						w = sectionWidth;

					if ($(event.target).hasClass("prev-btn"))	dest -= w;
					else										dest += w;

					dom.animate({scrollLeft: dest}, (w / sectionWidth) * 150);
				});

				$('#news section').find('.up-btn, .down-btn').click(function (event) {
					var sec = $(event.target).parent().parent();
					var dom = sec.find('.ul-wrap');
					var h = dom.height() - 100;
					var dest = dom.scrollTop();

					if ($(event.target).hasClass("up-btn"))	dest -= h;
					else 									dest += h;

					dom.animate({'scrollTop': dest}, 500, function() {
						if ($(this).scrollTop() > 0)
							sec.find('.up-wrap').show();
						else
							sec.find('.up-wrap').hide();
					});
				});
			})();
	</script>
	</div>
</section>

<section id="lw" class="clearfix">
	<h2 class="ctr">Test and share regex with our app</h2>
	<div class="description">
		You can test regular expressions in special modules like flume, hive, nginx.<br>
		These modules are run in fully isolated environment in docker.
	</div>
	<div class="screenshot">
		<img src="/images/magaret-screenshot1.png" width="800">
	</div>
	<div class="buttons">
		<a href="/download">Download</a>
		<a href="https://github.com/rexpress/magaret" class="github">See in Github</a>
	</div>
</section>


<section id="environments">
	<h2 class="ctr">Environment Supports</h2>

	<div class="description">
		You can test regular expression in various environments.<br>
		Each environment is running in docker.
	</div>

	<ul class="first clearfix">
		<li>
			<i class="devicon-java-plain-wordmark"></i>
		</li>
		<li>
			<i class="devicon-python-plain-wordmark"></i>
		</li>
		<li>
			<i class="devicon-nodejs-plain-wordmark"></i>
		</li>
		<li>
			<i class="devicon-php-plain"></i>
		</li>
	</ul>
	<ul class="second clearfix">
		<li>
			<i class="devicon-nginx-original"></i>
		</li>
		<li class="smaller">
			<i class="devicon-cplusplus-line"></i>
		</li>
		<li class="with-text">
			<i class="devicon-apache-plain"></i>
			<span>flume</span>
		</li>
		<li class="with-text">
			<i class="devicon-apache-plain"></i>
			<span>hive</span>
		</li>
	</ul>

</section>

{% endblock %}
