{% extends "/layout/default.html" %}

{% import 'macro/share.html' as share_macro %}


{% block title %}
	regular.express
{% endblock %}

{% block head %}
	{{ super() }}
	<link rel="stylesheet" type="text/css" href="/css/home.css">
{% endblock %}


{% block content %}
<section id="welcome">
	<h1>
		Test and share regular expressions with simple tool<br>
		running in fully isolated environment
	</h1>

	<div class="buttons">
		<a href="/dowload">download</a>
	</div>

	<div class="screenshot">
		<img src="https://placehold.it/700x300">
	</div>
</section>

<section id="search">
	<div id="search-bar">
		<input type="text" name="search" placeholder="Search for regex test result of modules">
		<i class="fa fa-search" aria-hidden="true"></i>
	</div>

	<div class="tags">
		{% for tag in tags.rows : %}
		<a href="/tag/{{ tag.key }}">
			<span class="tag">
				# {{ tag.key }}
			</span>
		</a>
		{% endfor %}
	</div>
</section>


<section id="news">
	<h2 class="ctr">New sharings</h2>
	
	<i class="fa fa-chevron-left prev-btn"></i>
	<i class="fa fa-chevron-right next-btn"></i>

	<div class="groups">
		<div class="container clearfix" style="width: {{ news|length * 352 }}px">
			{% for g in news %}
			<section>
				<div class="header">
					<h3>
						<a href="/env/{{ g.env.name }}" class="color-{{ g.env.name }}">
							{{ ext.env_icon(g.env.info.icon)|safe }}
							<span>{{ g.env.name }}</span>
						</a>
					</h3>
				</div>
				<ul class="items">
				{% for doc in g.data %}
					<li>{{ share_macro.tile(doc) }}</li>
				{% endfor %}
				</ul>
				
				<div class="footer">
					<a href="/env/{{ g.env.name }}" class="show-more">show more</a>
				</div>

			</section>
			{% endfor %}
		</div>
	</div>
</section>


<section id="environments">
	<h2 class="ctr">Environment Supports</h2>

	<div class="description">
		You can test regular expression in various environments.<br>
		Each environment is enclosed with docker.
	</div>

	<ul class="clearfix">
		<li>
			<i class="devicon-java-plain-wordmark"></i>
		</li>
		<li>
			<i class="devicon-python-plain-wordmark"></i>
		</li>
		<li>
			<i class="devicon-apache-line-wordmark"></i>
		</li>
		<li class="with-text">
			<i class="devicon-apache-plain"></i>
			<span>flume</span>
		</li>
		<li>
			<i class="devicon-nginx-original"></i>
		</li>
	</ul>

</section>

{% endblock %}
