{% extends "/layout/list.html" %}

{% block title %}
	{{ env.info.title }} - regular.express
{% endblock %}


{% block content %}
	<section class="header">
		<h1>
			{{ ext.env_icon( env.info.icon )|safe }}
			<div>{{ env.info.title }}</div>
		</h1>

		<div class="env-description">
			<p>{{ env.info.description }}</p>
			<p>
				<a href="{{ env.info.website }}">{{ env.info.website }}</a>
			</p>
		</div>

		<div class="children clearfix">
			{% for child in env.children %}
				<a href="/env/{{ env.name }}/{{ child }}">
					<span class="tag">{{ child }}</span>
				</a>
			{% endfor %}
		</div>
	</section>

	{{ super() }}

{% endblock %}