{% extends "/layout/list.html" %}

{% block title %}{{ env.info.title }} - Environment{% endblock %}

{% block head %}
	{{ super() }}
	<link rel="stylesheet" type="text/css" href="/css/env_child.css">
{% endblock %}

{% block meta %}
	<meta name="Subject" content="{{ env.info.title }} environment">
	<meta name="Description" content="{{ env.info.title }} environment in regular.express"> 
	<meta name="Classification" content="environments/{{ env.parent.name }}">
	<meta property="og:description" content="{{ env.info.title }} environment in regular.express">
{% endblock %}


{% block content %}
	<section class="header env-child">
		<h1>
			{{ ext.env_icon( env.parent.info.icon )|safe }}
			<span class="sub">
				<a href="/env/{{ env.parent.name }}">{{ env.parent.name }} &gt;</a>
			</span>
			<span>{{ env.info.title }}</span>
		</h1>

		<div class="env-description">
			<p>{{ env.info.description }}</p>
			<p class="author">author @{{ env.info.author }}</p>

			<p class="docker">
				<i class="devicon-docker-plain"></i>
				<span>Image on</span>
				<span>
					{% set docker_without_tag = env.info.docker_image.split(':')[0] %}
					<a href="https://hub.docker.com/r/{{ docker_without_tag }}">{{ docker_without_tag }}</a>
					
				</span>
			</p>
		</div>

		<div class="properties">
			<h3>properties</h3>
			<ul>
			{% for property in env.info.properties %}
				{% if property.type != 'hidden' %}
				<li class="clearfix">
					<div class="fl key">
						{% if property.required %}<span class="required">*</span>{% endif %}
						<span class="type">{{ property.type }}</span>
						<span class="name">{{ property.name }}</span>
					</div>
					<div class="fl value">
						<span>{{ property.help }}</span>
					</div>
				</li>
				{% endif %}
			{% endfor %}
			</ul>
		</div>

	</section>

	{{ super() }}

{% endblock %}