{% extends "/layout/list.html" %}

{% block title %}
	{{env}} - regular.express
{% endblock %}


{% block content %}
	<section class="header">
		<h1>
			<i class="sub devicon-{{ ext.get_devicon_class( env ) }}-plain"></i>
			<div>{{ env }}</div>
		</h1>

		<div class="env-description">
			<p>{{ info.description }}</p>
			<p>
				<a href="{{ info.website }}">{{ info.website }}</a>
			</p>
		</div>

		<div class="children clearfix">
			{% for child in children %}
				<a href="/env/{{ env }}/{{ child }}">
					<span>{{ child }}</span>
				</a>
			{% endfor %}
		</div>
	</section>

	{{ super() }}

{% endblock %}