{% extends "/layout/list.html" %}

{% block title %}{{ env.info.title }} - Environment{% endblock %}

{% block meta %}
	<meta name="Subject" content="{{ env.info.title }} environment">
	<meta name="Description" content="{{ env.info.title }} environment in regular.express"> 
	<meta name="Classification" content="environments">
	<meta property="og:description" content="{{ env.info.title }} environment in regular.express">
{% endblock %}


{% block content %}
	<section class="header">
		<h1>
			{{ ext.env_icon( env.info.icon )|safe }}
			<div>{{ env.info.title }}</div>
		</h1>

		<div class="env-description">
			<p>{{ env.info.description }}</p>
			<p>
				<a href="{{ env.info.website }}">{{ env.info.website }}</a>
			</p>
		</div>

		<div class="children clearfix">
			{% for child in env.children %}
				<a href="/env/{{ env.name }}/{{ child }}">
					<span class="tag">{{ child }}</span>
				</a>
			{% endfor %}
		</div>
	</section>

	{{ super() }}

{% endblock %}