{% extends "/layout/default.html" %}
{% set doc = rows[0].doc %}
{% set author = rows[1].doc %}

{% block title %}
	{{ doc.title }} - regular.express
{% endblock %}

{% block head %}
	{{ super() }}

	<link rel="stylesheet" type="text/css" href="/css/share_view.css">
{% endblock %}


{% block content %}
<section id="meta">
	<div class="first">
		<h2>
			{{ doc.title }}
			<i class="heart fa fa-heart-o" aria-hidden="true"></i>
		</h2>

		<div class="sub">
			<img class="profile" src="https://avatars.githubusercontent.com/u/{{ author.social_uid }}?size=44">
			<span class="author-name">{{ author.name }}</span>
			<span class="datetime">
				{{ datetime.fromtimestamp(doc.created / 1000).strftime('%Y-%m-%d %H:%M:%S') }}
			</span>
		</div>
	</div>

	<div class="second">
		<pre id="description">{{ doc.description }}</pre>

		{% if doc.tags %}
		<div class="tags">
			<span class="tag tag-special">
				<a href="/env/{{ doc.env[0] }}">
					<span class="env-group">{{ doc.env[0] }}/</span>
				</a>
				<a href="/env/{{ doc.env[0] }}/{{ doc.env[1] }}">
					<span class="env-child">{{ doc.env[1] }}</span>
				</a>
			</span>

			{% for tag in doc.tags : %}
			<a href="/tag/{{ tag }}">
				<span class="tag">
					<!--<i class="fa fa-tag" aria-hidden="true"></i>-->
					<span>#</span>
					<span>{{ tag }}</span>
				</span>
			</a>
			{% endfor %}
		</div>
		{% endif %}
	</div>
</section>

{% if doc.properties %}
<section id="properties">
	<h3>properties</h3>
	<ul>
		{% for prop in doc.properties %}
		<li class="clearfix">
			<div class="fl key">
				{{ prop.name }}
			</div>
			<div class="fl value">
				{{ prop.value }}
			</div>
		</li>
		{% endfor %}
	</ul>
</section>
{% endif %}


<section id="input">
	<h3>input</h3>
	<pre>{{ doc.input }}</pre>
</section>

<section id="output">
	<h3>output</h3>
	<pre>{{ doc.output }}</pre>
</section>

{% endblock %}
