{% extends "/layout/default.html" %}
{% set doc = rows[0].doc %}
{% set author = rows[1].doc %}

{% block title %}
	{{ doc.title }} - regular.express
{% endblock %}

{% block head %}
	{{ super() }}

	<link rel="stylesheet" type="text/css" href="/css/share_view.css">
{% endblock %}


{% block content %}
<section id="meta">
	<div class="first">
		<h2>{{ doc.title }}</h2>

		<div class="sub">
			<img class="profile" src="https://avatars.githubusercontent.com/u/{{ author.social_uid }}?size=44">
			<span class="author-name">{{ author.name }}</span>
			<span class="datetime">
				{{ datetime.fromtimestamp(doc.created / 1000).strftime('%Y-%m-%d %H:%M:%S') }}
			</span>
		</div>
	</div>

	<div class="second">
		<pre id="description">{{ doc.description }}</pre>

		<div class="tags">
			<span class="tag tag-special">
				<a href="/env/{{ doc.env[0] }}">
					<span class="env-group">{{ doc.env[0] }}&gt;</span>
				</a>
				<a href="/env/{{ doc.env[0] }}/{{ doc.env[1] }}">
					<span class="env-child">{{ doc.env[1] }}</span>
				</a>
			</span>

			{% for tag in doc.tags : %}
			<a href="/tag/{{ tag }}">
				<span class="tag">
					<!--<i class="fa fa-tag" aria-hidden="true"></i>-->
					<span>#</span>
					<span>{{ tag }}</span>
				</span>
			</a>
			{% endfor %}
		</div>
	</div>
</section>

{% if doc.properties %}
<section id="properties">
	<h3>properties</h3>

	<ul class="content">
		{% for prop in doc.properties %}
		<li class="clearfix">
			<div class="fl key">
				{{ prop.name }}
			</div>
			<div class="fl value">
				{{ prop.value }}
			</div>
		</li>
		{% endfor %}
	</ul>
</section>
{% endif %}


<section id="input">
	<h3>input</h3>

	<table class="lines">
		{% set lines = doc.input.split('\n') %}
		<tbody>
			<tr>
				<td class="line-number">
					{% for line in lines %}
					<div class="{{ ['e','o'][loop.index % 2] }}">{{ loop.index }}</div>
					{% endfor %}
				</td>
				<td class="data">
					{% for line in lines %}
					<div class="{{ ['e','o'][loop.index % 2] }}">{{ line|e|default('&nbsp;', True)|safe }}</div>
					{% endfor %}
				</td>
			</tr>
		</tbody>
	</table>

	<!--<pre class="content">{{ doc.input }}</pre>-->
</section>

<section id="output">
	<h3>output</h3>
	<table class="lines">
		<tbody>
		{% set type = doc.output.resultType %}

		{% if type == 'STRING' %}
			<tr>
				<td class="line-number">
					{% for line in doc.output.testResult %}
					<div class="{{ ['e','o'][loop.index % 2] }}">{{ loop.index }}</div>
					{% endfor %}
				</td>
				<td class="data">
					{% for line in doc.output.testResult %}
					<div class="{{ ['e','o'][loop.index % 2] }}">{{ line|e|default('&nbsp;', True)|safe }}</div>
					{% endfor %}
				</td>
			</tr>

		{% elif type == 'GROUP' %}
				{{ doc.output.testResult }}

		{% elif type == 'MATCH' %}
			<tr>
				<td class="line-number">
					{% for line in doc.output.testResult %}
					<div class="{{ ['e','o'][loop.index % 2] }}">{{ loop.index }}</div>
					{% endfor %}
				</td>
				<td class="data">
					{% for val in doc.output.testResult %}
					<div class="{{ ['e','o'][loop.index % 2] }}">{{ 'Matched' if val else 'UnMatched' }}</div>
					{% endfor %}
				</td>
			</tr>
		{% endif %}
		</tbody>
	</table>
</section>

{% endblock %}
