{% extends "/layout/default.html" %}

{% block title %}{{ doc.title }} - regular.express{% endblock %}

{% block head %}
	{{ super() }}
	<link rel="stylesheet" type="text/css" href="/css/share_view.css">
{% endblock %}

{% block meta %}
	<meta name="Subject" content="{{ doc.title }}">
	<meta name="Description" content="{{ doc.description }}"> 
	<meta name="Classification" content="{{ doc.env_child.name }}">
	<meta property="og:description" content="{{ doc.description|truncate(32, True) }}">
{% endblock %}



{% block content %}
<section id="meta">
	<div class="first">
		<h2>{{ doc.title }}</h2>

		<div class="sub">
			<img class="profile" src="https://avatars.githubusercontent.com/u/{{ doc.author.social_uid }}?size=44">
			<span class="author-name">{{ doc.author.name }}</span>
			<span class="datetime">
				{{ datetime.fromtimestamp(doc.created / 1000).strftime('%Y-%m-%d %H:%M:%S') }}
			</span>
		</div>
	</div>

	<div class="second">
		<pre id="description">{{ doc.description }}</pre>

		<div class="tags">
			<span class="tag tag-special">
				<a href="/env/{{ doc.env_group.name }}">
					<span class="env-group">{{ doc.env_group.name }}&gt;</span>
				</a>
				<a href="/env/{{ doc.env_group.name }}/{{ doc.env_child.name }}">
					<span class="env-child">{{ doc.env_child.name }}</span>
				</a>
			</span>

			{% for tag in doc.tags : %}
			<a href="/tag/{{ tag }}">
				<span class="tag">
					<span>#</span>
					<span>{{ tag }}</span>
				</span>
			</a>
			{% endfor %}
		</div>
	</div>
</section>

{% if doc.properties %}
<section id="properties">
	<h3>properties</h3>

	<div class="content">
		<table>
			<tbody>
				{% if doc.env_child.info %}
					{% for prop in doc.env_child.info.properties %}
					{% if prop.type != 'hidden' %}
					<tr>
						<td class="key">{{ prop.name }}</td>
						<td class="value">
							<span>{{ doc.properties[ prop.name ] }}</span>
						</td>
					</tr>
					{% endif %}
					{% endfor %}

				{% else %}
					{# for broken env #}
					{% for key, val in doc.properties.items() %}
					<tr>
						<td class="key">{{ key }}</td>
						<td class="value">
							<span>{{ val }}</span>
						</td>
					</tr>
					{% endfor %}
				{% endif %}
			</tbody>
		</table>
	</div>

</section>
{% endif %}


<section id="input">
	<h3>input</h3>

	<table class="lines">
		<tbody>
			<tr>
				<td class="line-number">
					{% for line in doc.input %}
					<div class="{{ ['e','o'][loop.index % 2] }}">{{ loop.index }}</div>
					{% endfor %}
				</td>
				<td class="data">
					{% for line in doc.input %}
					<div class="{{ ['e','o'][loop.index % 2] }}">{{ line }}</div>
					{% endfor %}
				</td>
			</tr>
		</tbody>
	</table>
</section>

<section id="output">
	<h3>output</h3>
	<table class="lines">
		{% set type = doc.output.type %}
		{% if type == 'GROUP' %}
		<!-- GROUP type -->
		<thead>
			<tr>
				<th></th>
				{% for col in doc.output.result.columns %}
					<th>{{ col }}</th>
				{% endfor %}
				<th class="space">&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			{% for dataset in doc.output.result.resultList %}
			{% set eo = ['e','o'][loop.index % 2] %}
			<tr>
				<td class="line-number">
					<div class="{{ eo }}">{{ loop.index }}</div>
				</td>

				{% if dataset %}
					{% for data in dataset %}
					<td class="data group-data">
						<div class="{{ eo }}">{{ data }}</div>
					</td>
					{% endfor %}

				{% else %}
					<td class="data group-data-null" colspan="3">
						<div class="{{ eo }}">Null</div>
					</td>
				{% endif %}

				<td class="data space"><div class="{{ eo }}">&nbsp;</div></td>
			</tr>
			{% endfor %}


		{% else %}
		<!-- STRING or MATCH type -->
		<tbody>
			<tr>
				<td class="line-number">
					{% for line in doc.output.result.resultList %}
					<div class="{{ ['e','o'][loop.index % 2] }}">{{ loop.index }}</div>
					{% endfor %}
				</td>
				<td class="data">
					{% for line in doc.output.result.resultList %}
					<div class="{{ ['e','o'][loop.index % 2] }}">
						{% if type == 'STRING' %}
							{{ line|e|default('&nbsp;', True)|safe }}

						{% elif type == 'MATCH' %}
							<span class="{{ 'm' if line else 'u' }}">{{ 'Matched' if line else 'UnMatched' }}</span>
						{% endif %}

					</div>
					{% endfor %}
				</td>
			</tr>
		</tbody>
		{% endif %}
		
	</table>
</section>

<section id="disqus-wrap">
	<h3>comments</h3>
	<div id="disqus_thread"></div>
	
	<script type="text/javascript">
		var disqus_config = function () {
			this.page.url = 'http://regular.express/share/{{ doc._id }}';
			this.page.identifier = '/share/{{ doc._id }}';
		};
		(function() {
			var d = document, s = d.createElement('script');
			s.src = '//regular-express.disqus.com/embed.js';
			s.setAttribute('data-timestamp', +new Date());
			(d.head || d.body).appendChild(s);
		})();
		</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

	<script id="dsq-count-scr" src="//regular-express.disqus.com/count.js" async></script>
</section>
{% endblock %}
