{% extends "/layout/default.html" %}

{% import 'macro/share.html' as share_macro %}

{% block title %}
	#{{tag}} - regular.express
{% endblock %}

{% block head %}
	{{ super() }}

	<style type="text/css">
		html,body{ background-color: #eee }

		h1{
			margin: 40px 0 30px;
			text-align: center;
			font-weight: 300;
			font-size: 40px;
		}
		h1 .hashtag{ color: #666 }

		ul#lists{
			padding: 10px 40px;
			list-style: none;
		}

		ul#lists > li{
			float: left;
			width: 300px;
			
			margin-right: 20px;
			border: 1px solid #ddd;
			border-radius: 3px;
		}
	</style>
{% endblock %}


{% block content %}
	<h1>
		<span class="hashtag">#</span>
		<span>{{tag}}</span>
	</h1>

	<ul id="lists" class="clearfix">
	{% for doc in data %}
		{% if doc.doc.type == "share" %}
			<li>
				{{ share_macro.tile(
					doc = doc.doc,
					author = data[ loop.index ].doc
				) }}
			</li>
		{% endif %}
	{% endfor %}
	</ul>
{% endblock %}