<!doctype html>
<html>
<head>
	{% block head %}

	<title>{% block title %}{% endblock %}</title>
	
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<meta name="viewport" content="width=device-width, user-scalable=no">

	<meta name="Robots" content="ALL">
	<meta name="Keywords" content="regular expression,regex,regexp,replace,match,group,tester,test,docker,isolated,flume,hive,nginx">
	<meta property="og:type" content="website">
	<meta property="og:image" content="http://regular.express/images/iconx400.png">
	{% block meta %}{% endblock %}

	<link rel="shortcut icon" href="/favicon.ico">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
	
	<link rel="stylesheet" type="text/css" href="/css/common.css">
	<link rel="stylesheet" type="text/css" href="/css/macro.css">


	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
	{% endblock %}
</head>
<body>
	<header class="clearfix">
		<div id="logo" class="fl">
			<a href="/">
				<div id="logo-content">
					<span class="hidden2">regular.express</span>
				</div>
			</a>
		</div>

		{% macro gnb_li(url, title, pageurl) -%}
		<li>
		{% if url == pageurl or url == pageurl[0:-1] %}
			<a href="{{ url }}" class="selected">{{ title }}</a>
		{% else %}
			<a href="{{ url }}">{{ title }}</a>
		{% endif %}
		</li>
		{% endmacro %}


		<ul id="gnb" class="fl clearfix">
			{{ gnb_li('/', 'HOME', _page.url) }}
			{{ gnb_li('/env/', 'ENVIRONMENTS', _page.url) }}
			{{ gnb_li('/download/', 'DOWNLOAD', _page.url) }}
		</ul>
	</header>
	
	<div id="content">
		{% block content %}{% endblock %}
	</div>

	<footer>
		<span class="copy">&copy; 2016-2018 regular.express</span>
		
		<a href="/terms">Terms &amp; Service</a>
		<a href="https://github.com/rexpress">Github</a>
	</footer>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115550970-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-115550970-1');
	</script>

</body>
</html>
