{% extends '/layout/default.html' %}
{% import '/macro/share.html' as share_macro %}

{% block head %}
	{{ super() }}
	<link rel="stylesheet" type="text/css" href="/css/list.css">
{% endblock %}


{% block content %}
	<h2 class="ctr">Sharings</h2>
	<section>
		{% if shares %}
			<ul id="lists" class="clearfix">
			{% for share in shares %}
				<li>{{ share_macro.tile(share) }}</li>
			{% endfor %}
			</ul>
		{% else %}
			<div class="no-sharings">
				- No sharings yet -
			</div>
		{% endif %}
	</section>
{% endblock %}