{% macro property_li(key, val) -%}
<li>
	<span class="key">{{ key|string|truncate(12, True) }}</span>
	<span class="value">{{ val|string|truncate(32, True) }}</span>
</li>
{% endmacro %}


{% macro tile(doc) -%}
<div class="share-tile">
	<a href="/share/{{ doc._id }}">
		<h4>
			{{ doc.title }}
		</h4>
		<div class="description">
			{{ doc.description }}
		</div>
	</a>

	<div class="tags">
		<a href="/env/{{ doc.env_group.name }}/{{ doc.env_child.name }}">
			<span class="tag tag-mini tag-special">
				&gt; {{ doc.env_child.name }}
			</span>
		</a>
	
		{% for tag in doc.tags : %}
		<a href="/tag/{{ tag }}">
			<span class="tag tag-mini">
				# {{ tag }}
			</span>
		</a>
		{% endfor %}
	</div>

	{% if doc.properties %}
	<ul class="properties">
		{% if doc.env_child.info %}
			{% for prop in doc.env_child.info.properties %}
			{% if prop.type != 'hidden' and prop.name in doc.properties %}
				{{ property_li(prop.name, doc.properties[ prop.name ]) }}
			{% endif %}
			{% endfor %}

		{% else %}
			{# for broken env #}
			{% for key, val in doc.properties.items() %}
				{{ property_li(key, val) }}
			{% endfor %}
		{% endif %}
	</ul>
	{% endif %}

	<div class="last clearfix">
		<div class="author fl">
			<img class="profile" src="https://avatars.githubusercontent.com/u/{{ doc.author.social_uid }}?size=25">
			<span class="author-name">{{ doc.author.name }}</span>
		</div>
		<div class="created fr">
			{{ datetime.fromtimestamp(doc.created / 1000).strftime('%Y-%m-%d %H:%M:%S') }}
		</div>
	</div>
</div>
{% endmacro %}